@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sch-title {
  font-family: "Nunito", sans-serif;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 15px;
}
.sch-title:hover {
  color: #21edd2;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 600px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid #999999;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 10px #2b2a2a;
  line-height: 50px;
}

.label-and-input {
  display: flex;
  align-items: center;
}

.form-label {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding-right: 15px;
}

.input-field {
  width: 200px;
  height: 20px;
  outline: none;
  border: 1px solid #999999;
  border-left: none;
  border-top: none;
  border-right: none;
  padding-right: 10px;
}

.text-area {
  outline: none;
  border: 1px solid #999999;
}

.select-input {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  padding: 5px;
  outline: none;
}

.form-button {
  font-family: "Roboto", sans-serif;
  width: 140px;
  height: fit-content;
  padding: 10px;
  border: 0px;
  border-radius: 20px;
  background-color: black;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 2px 2px 10px #2b2a2a;
}
.form-button:hover {
  background-color: #ffffff;
  color: #000000;
}
